# Залежності
node_modules/
coverage/
test-results/
playwright-report/

# Логи
*.log
npm-debug.log*

# Системні файли
.DS_Store
Thumbs.db

# Секрети
.env
.env.local

# Артефакти збірки
dist/
build/

# IDE
.idea/
.vscode/
